src/flows/ChannelProgramContactPhotoURLUpdateAutoFlow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_new_URL_Values</name>
        <label>Set new URL Values</label>
        <locationX>358</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>sov_ChannelProgramContact.SystemMediumPhotoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_User.MediumPhotoUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ChannelProgramContact.SystemFullPhotoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_User.FullPhotoUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ChannelProgramContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startVar_ChannelProgramContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_ChannelProgramContact.SystemSmallPhotoURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_User.SmallPhotoUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Channel_Program_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>User_Profile_Photo_Check</name>
        <label>User Profile Photo Check</label>
        <locationX>139</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>No Profile Photo</defaultConnectorLabel>
        <rules>
            <name>Profile_Photo_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.FullPhotoUrl</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_new_URL_Values</targetReference>
            </connector>
            <label>Profile Photo Found</label>
        </rules>
    </decisions>
    <description>For Channel Partner Community.  Autolaunched flow used to update the user profile photo URLs</description>
    <interviewLabel>Channel Program Contact - Photo URL Update Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Channel Program Contact - Photo URL Update Auto Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Salesforce_User</name>
        <label>Lookup Salesforce User</label>
        <locationX>133</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Profile_Photo_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startVar_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sov_User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FullPhotoUrl</queriedFields>
        <queriedFields>MediumPhotoUrl</queriedFields>
        <queriedFields>SmallPhotoUrl</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Channel_Program_Contact</name>
        <label>Update Channel Program Contact</label>
        <locationX>359</locationX>
        <locationY>677</locationY>
        <inputReference>sov_ChannelProgramContact</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Salesforce_User</startElementReference>
    <variables>
        <name>sov_ChannelProgramContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChannelProgramContact__c</objectType>
    </variables>
    <variables>
        <name>sov_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>startVar_ChannelProgramContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>startVar_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
