src/flows/KnowledgeCreateLinksFromRelatedFilesFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Debug_Article_Id</name>
        <label>Assign Debug Article Id</label>
        <locationX>615</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>startVar_ArticleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DEBUG_Article_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Distribution_Count</name>
        <label>Assign Distribution Count</label>
        <locationX>632</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>var_DistributionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LinkText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txt_DocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Temp_Distribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Temp_Distribution</name>
        <label>Clear Temp Distribution</label>
        <locationX>466</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>sov_ContentDistribution_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_ContentDistribution_Blank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Files</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ch_Continue</name>
        <choiceText>Continue</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Article</name>
        <label>Check Article</label>
        <locationX>111</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>No_Article_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Article</defaultConnectorLabel>
        <rules>
            <name>Article_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startVar_ArticleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Lookup_Article</targetReference>
            </connector>
            <label>Article Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Article_Version_Status</name>
        <label>Check Article Version Status</label>
        <locationX>284</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Lookup_Related_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Article</defaultConnectorLabel>
        <rules>
            <name>No_Article_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_KnowledgeArticleVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Something_Went_Wrong_Screen_0</targetReference>
            </connector>
            <label>No Article Found</label>
        </rules>
        <rules>
            <name>Article_Not_In_Draft_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_KnowledgeArticleVersion.PublishStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_a_Draft_Article</targetReference>
            </connector>
            <label>Article Not In Draft Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Continue</name>
        <label>Check Continue</label>
        <locationX>962</locationX>
        <locationY>916</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Article_Version</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Distribution_Found</name>
        <label>Check Distribution Found</label>
        <locationX>603</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Loop_Related_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Distribution</defaultConnectorLabel>
        <rules>
            <name>Distribution_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_ContentDistribution_Temp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Distribution_Count</targetReference>
            </connector>
            <label>Distribution Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Files</name>
        <label>Check Related Files</label>
        <locationX>286</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>No_Related_Files_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Related Files</defaultConnectorLabel>
        <rules>
            <name>Related_Files_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_ContentDocumentLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Files</targetReference>
            </connector>
            <label>Related Files Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distributions_Found_Check</name>
        <label>Distributions Found Check</label>
        <locationX>289</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>No_Distributions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Distributions</defaultConnectorLabel>
        <rules>
            <name>Distributions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DistributionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Links</targetReference>
            </connector>
            <label>Distributions Found</label>
        </rules>
    </decisions>
    <description>For Customer Community.  Used to include links on the article referencing any related Files.  The related Files list isn&apos;t visible in the community, so links to related files need to be listed on the record itself in the rich text field &quot;Links&quot;</description>
    <dynamicChoiceSets>
        <name>Article_RecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Knowledge__kav</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fx_ContentDistributionLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(
{!sov_ContentDistribution_Temp.DistributionPublicUrl} , 
{!sov_ContentDistribution_Temp.Name} ,
&quot;_new&quot;)</expression>
    </formulas>
    <interviewLabel>Knowledge - Create Links from Related Files Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - Create Links from Related Files Flow</label>
    <loops>
        <name>Loop_Related_Files</name>
        <label>Loop Related Files</label>
        <locationX>287</locationX>
        <locationY>538</locationY>
        <assignNextValueToReference>sov_ContentDocumentLink_Loop</assignNextValueToReference>
        <collectionReference>soc_ContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Content_Distribution</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Distributions_Found_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fast_Lookup_Article</name>
        <label>Fast Lookup Article</label>
        <locationX>116</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Article_Version_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startVar_ArticleId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>sov_KnowledgeArticleVersion</outputReference>
        <queriedFields>PublishStatus</queriedFields>
        <queriedFields>Links__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Content_Distribution</name>
        <label>Lookup Content Distribution</label>
        <locationX>599</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Distribution_Found</targetReference>
        </connector>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ContentDocumentLink_Loop.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDistribution</object>
        <outputReference>sov_ContentDistribution_Temp</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>DistributionPublicUrl</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Related_Files</name>
        <label>Lookup Related Files</label>
        <locationX>285</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startVar_ArticleId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>soc_ContentDocumentLinks</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Article_Version</name>
        <label>Update Article Version</label>
        <locationX>431</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Successful_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startVar_ArticleId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Links__c</field>
            <value>
                <elementReference>var_LinkText</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1210</locationX>
        <locationY>449</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something Went Wrong&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>855</locationX>
        <locationY>7</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Article</targetReference>
        </connector>
        <fields>
            <name>IntroMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Click Next to review any related Salesforce Files on this Article, and if public links are available, add Document Links to the body of this Article.&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Article_Screen</name>
        <label>No Article Screen</label>
        <locationX>450</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Debug_Article_Id</targetReference>
        </connector>
        <fields>
            <name>noArticleMessage</name>
            <fieldText>Sorry, there was a problem loading this component.  Please try again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DEBUG_Article_Id</name>
            <dataType>String</dataType>
            <fieldText>DEBUG: Article Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>No_Distributions</name>
        <label>No Distributions</label>
        <locationX>86</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noDistributionsMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No Public Links available&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Article has related Files, but none of the files have public links created.  Please create &lt;A HREF=&quot;http://files.docs.salesforce.com/en-us/1.8.0/help/collab_files_sharing_via_link.htm&quot; TARGET=&quot;_blank&quot;&gt;Public Links&lt;/A&gt; on all related Files you wish to share with the community then try again.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Related_Files_Screen</name>
        <label>No Related Files Screen</label>
        <locationX>623</locationX>
        <locationY>404</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noRelatedFilesMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No Related Files&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This article doesn&amp;apos;t have any related Files.  Please add Files, create &lt;A HREF=&quot;http://files.docs.salesforce.com/en-us/1.8.0/help/collab_files_sharing_via_link.htm&quot; TARGET=&quot;_blank&quot;&gt;Public Links&lt;/A&gt; on the Files you wish to share with the community, and then try again.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Not_a_Draft_Article</name>
        <label>Not a Draft Article</label>
        <locationX>591</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>somethingWentWrongMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Articles need to be in Draft status in order to edit.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Please navigate to the current draft version or click Edit As Draft on the current published article.&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Article Status: &lt;/B&gt;{!sov_KnowledgeArticleVersion.PublishStatus}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Review_Links</name>
        <label>Review Links</label>
        <locationX>402</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Continue</targetReference>
        </connector>
        <fields>
            <name>reviewLinksMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The following links will be added to this article:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!var_LinkText}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The following values will be overwritten (if any):&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!sov_KnowledgeArticleVersion.Links__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;How Would You Like To Continue?&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue_Select</name>
            <choiceReferences>ch_Continue</choiceReferences>
            <choiceReferences>ch_Cancel</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>ch_Continue</defaultSelectedChoiceReference>
            <fieldText>Please Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Something_Went_Wrong_Screen_0</name>
        <label>Something Went Wrong Screen</label>
        <locationX>878</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>somethingWentWrongMessage_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, Something went wrong.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!newLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No Article Found.  Please Try Again.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Successful_Screen</name>
        <label>Successful Screen</label>
        <locationX>428</locationX>
        <locationY>1075</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Links Updated Succesfully!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Intro_Screen</startElementReference>
    <textTemplates>
        <name>newLine</name>
        <text>&lt;br&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_DocumentLink</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;{!sov_ContentDistribution_Temp.DistributionPublicUrl}&quot; TARGET=&quot;_blank&quot;&gt;  &lt;/A&gt;&lt;A HREF=&quot;{!sov_ContentDistribution_Temp.DistributionPublicUrl}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;-&lt;/B&gt;&lt;/A&gt;&lt;A HREF=&quot;{!sov_ContentDistribution_Temp.DistributionPublicUrl}&quot; TARGET=&quot;_blank&quot;&gt; {!sov_ContentDistribution_Temp.Name}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>soc_ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>sov_ContentDistribution_Blank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDistribution</objectType>
    </variables>
    <variables>
        <name>sov_ContentDistribution_Temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDistribution</objectType>
    </variables>
    <variables>
        <name>sov_ContentDocumentLink_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>sov_KnowledgeArticleVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>startVar_ArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_DistributionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_LinkText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
